/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
:root {
  --primary: #ff52bf;
  --pale-cyan: #ebfbff;
  --dark-cyan: #00252e;
  --grayish-blue: hsl(208, 11%, 55%);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* --------------------------- */
/* *UTILITIES */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-item-start {
  justify-self: start;
}

.justify-items-center {
  justify-items: center;
}

.align-center {
  align-items: center;
}

.btn {
  border: none;
  border-radius: 100px;
  font-weight: 700;
  box-shadow: 0px 0px 8px 0.1px rgba(0, 0, 0, 0.15);
  font-size: 1.6rem;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(180%);
}

.btn--primary {
  padding: 2rem 7rem;
  background-color: var(--primary);
  color: #fff;
}

.btn--white {
  padding: 1.5rem 7rem;
  background-color: #fff;
  color: var(--dark-cyan);
}

.grid {
  display: grid;
}

.grid--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--dark-cyan);
}

h2 {
  font-size: 2.4rem;
}

/* --------------------------- */
/* *HEADER */
.page-header {
  background-image: url("../images/bg-hero-desktop.svg");
  background-size: cover;
  background-color: var(--pale-cyan);
  /* background-position: center; */
  padding-top: 4.51rem;
  padding-bottom: 3rem;
}

.nav {
  margin-bottom: 5rem;
}

.logo {
  height: 3rem;
}

.header-image img {
  width: 100%;
}

.header-text-box {
  padding-right: 5rem;
}

.header-text-box h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.header-text-box p {
  margin-bottom: 3rem;
}

/* -------------------------------- */
/* *ALTERNATE BLOCKS */

.section-blocks {
  margin-top: 15rem;
}

.block {
  /* padding: 6rem 5rem 6rem 16rem; */
  padding: 4rem;
  padding-left: 10rem;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0.1px rgba(0, 0, 0, 0.15);
}

.block-text-box {
  justify-self: end;
}

.block-text-box h2 {
  margin-bottom: 1.6rem;
}

.block-text-box p {
  color: var(--grayish-blue);
}

.block-img {
  width: 70%;
  justify-self: end;
}

.block-text-box--2 {
  grid-column: 2/3;
  grid-row: 1;
}

.block-img--2 {
  justify-self: start;
}



.section-blocks .container > * + * {
  margin-top: 4rem;
}

/* --------------------------------- */
/* *SECTION CTA */

.cta-box {
  display: grid;
  justify-items: center;
  padding: 4.5rem 0rem;
  margin-top: 5rem;
  width: 55%;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0.1px rgba(0, 0, 0, 0.15);
  transform: translateY(7rem);
  z-index: 100;
  position: relative;
  background-color: #fff;
}

.cta-box h2 {
  margin-bottom: 2.5rem;
}

.cta-box button {
  transform: scale(1.2);
}

/* ---------------------------- */
/* *FOOTER */

.footer {
  font-size: 1.4rem;
  background-color: var(--dark-cyan);
  color: var(--pale-cyan);
  font-weight: 400;
  padding-top: 15rem;
  padding-bottom: 5rem;
  position: relative;
}

.footer .container {
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr 1fr;
}

.footer-logo {
  grid-column: 1/-1;
  height: 3rem;
  width: auto;
  margin-bottom: 2.5rem;
}

.footer-col {
  gap: 2rem;
}

.info-col div img {
  height: 1.5rem;
  width: 1.5rem;
}

.address p {
  width: 80%;
}

.address,
.phone,
.mail {
  gap: 2rem;
}

.nav-col {
  align-items: flex-start;
}

.nav-col a {
  border: 1px solid transparent;
}

.copyright {
  grid-column: 4/5;
  font-size: 1.1rem;
}

.footer a:link,
.footer a:visited {
  text-decoration: none;
  color: var(--pale-cyan);
  transition: all 0.4s;
}

.social-col {
  gap: 1.5rem;
  align-items: flex-start;
}

.social-icon {
  height: 1.7rem;
  width: 1.7rem;
}

.social-col a {
  padding: 0.8rem;
  border: 1px solid var(--pale-cyan);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-col a:hover {
  border-bottom: 1px solid var(--pale-cyan);
}

.social-col a:hover {
  color: var(--primary);
  border-color: currentColor;
}
